body {
  background-image: url("middle-container.jpg");
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  color: white;
  margin: 0;
  font-family: serif;
  font-size: 30px;
  text-align: center;
}
.top-container{
    font-family: 'Sacramento', cursive;
}

h1 {
  margin: 0 auto;
}

h2{
  margin: 0 auto;
}
h3{
  position: relative;
  margin: 0 auto;
}

.top-container {
  position: relative;
  padding-top: 20px;

}
.top-icon{
display: inline;
}
.programer {
  position: relative;
  font-size: 45px;
  text-decoration: underline;
  margin-top: 5px;
}
.middle-container{
  position: relative;

}
.bottom-container{
  position: relative;
  background-color: black;
}
.contact-me{
  background-color: black;
  margin-top: 2%;
  margin-bottom: 1%;
}
.btn{
    font-family: arial;
    color: #000000;
    font-size: 20px;
    text-shadow: 1px 1px #7CACDE;
    box-shadow: 1px 1px 3px #EAF7F9;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    padding: 7px 14px;
    border-radius: 22px;
    border: 2px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(top,  #FFFCFD,  #CFCFCF);
    background: -ms-linear-gradient(top,  #FFFCFD,  #CFCFCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFCFD), to(#CFCFCF));
    background: -moz-linear-gradient(top,  #FFFCFD,  #CFCFCF);
}
.btn:hover{
  color: #14396A;
  background: #468CCF;
  background: linear-gradient(top,  #CFCFCF,  #63B8EE);
  background: -ms-linear-gradient(top,  #CFCFCF,  #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#63B8EE));
  background: -moz-linear-gradient(top,  #CFCFCF,  #63B8EE);
}
.footer-link{
  color: white;
    font-family: serif;
    font-size: 20px;
}
.text{
  font-family: serif;
}
.heart{
  color: red;
}
.skill1{
  background-color: grey;
  border-radius: 50%;
}
table,tr{
  padding-top: 30px;
  font-family: monospace;
  width: 100%;
  margin: auto;
}
hr{
  border: solid 6px;
  border-style:dotted;
  border-color: white;
  border-bottom: none;
  width: 6%;
}
